:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#experience{
  position: fixed;
  height: 100%;
  top:0;
  left:0;
  overflow: hidden;

  #experience-canvas{
    width: 100%;
    height: 100%;
  }

}

 


//all of them
a {
  text-decoration: none;
  color: inherit;
}
.sec{
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}
.together{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 0;
  padding: 20px;
}
.modal {
  background-color: #EBD6FB;
  position: absolute;
  top: 50%;
  left: 50%;  
  max-width: 1200px;
  width: 90%;
  transform: translate(-50%, -50%);
  font-size: 2.2rem;
  z-index: 9999;
  padding: 20px;
  border-radius: 25px;
  border: 8px solid #687FE5;
  display: none;
}
.White-heading{
  font-size: 3rem;
  font-family: 'Pacifico', cursive;
  font-weight: bold;
  color: #687FE5;
  padding: 5px 10px;
  text-align: center;
  margin-bottom: 15px;
  background-color: #FEEBF6;
  border-radius: 15px;
  box-shadow: 0px 2px 3px 0px #6c64698e;
  width: fit-content;
}
.model-img{
    border: 8px solid #687FE5;
    border-radius: 20px; 
    align-self: center;
    
}
.modal-exit{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -20px;
  left: -20px;
  cursor: pointer;
  font-weight: bold;
  color: #687FE5;
  justify-items: center;
  display: flex;
  align-content: center;
  justify-content: center;
  text-decoration: none;
  width: 80px;
  height: 80px;
  border: 8px solid #687FE5;
  border-radius: 20px;
  background-color: #EBD6FB;
}
.Inside-heding{
  font-family: 'Pacifico', cursive;
}
.Inside{
 display: flex; 
 flex-direction: column;
justify-content: center;
 z-index: 0;
 height: 100%;  
 overflow-x: hidden;
 &::-webkit-scrollbar {
   display: none;
 }
 -ms-overflow-style: none;  
 scrollbar-width: none;  
}
.Paragraph{
  font-size: 1.3rem;
  font-family: 'Pacifico', cursive;
  font-weight: 500;
   line-height: 1.6;
  margin-bottom: 15px;
color: #000000;
}
.Outside{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
  height: 100%;
  width: 100%;
}  
.img-div{
  padding-bottom: 20px;
  align-self: center;
}



// About
.about {
  max-width: 700px;
  height: 90%;
}
.inside-about{
  padding-top: 300px;
}

  

// Projects
 
.project  {
  max-width: 1200px;
  height: 90%;
}




// Contacts 
.gap-big{
  gap:70px;
}
.contact {
  max-width: 500px;
  height: 50%;
}


 